body {
    background-color: rgb(255, 255, 255);
    color: orange !important;
    font-size: 18px;
}
.navbar {
    background-color:#13161F; 
}
.navbar a {
    color: orange !important;
}
.navbar .nav-link {
    color: orange !important;
}
.btn-outline-light {
    color: orange !important;
    border-color: orange !important;
}
.btn-outline-light:hover {
    background-color: orange !important;
    color: black !important;
}

.navbar-logo {
    height: 50px; 
}

.titulo-principal {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

.card-img-top {
    width: 150px; 
    margin: 0 auto; 
}

footer {
    background-color: #13161F; 
    text-align: center;
    padding: 10px 0; 
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer img {
    width: 60px; 
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .botao{

background-color: #13161F;

    }